@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");

/*BASIC STYLE*/
:root {
  --font1: "Noto Sans", sans-serif;
  --font2: "Georama", sans-serif;
}
.body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover; /*or background-size: 100%;  */
  flex-direction: column;
  background-color: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*BASIC STYLE*/

/*HEADER*/
.container {
  height: 28em;
  background-image: url("/img/coding3.jpg");
  filter: brightness(85%);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: var(--font1);
}
.container h1 {
  font-family: var(--font2);
  padding: 0.4em;
  font-size: 5em;
  filter: brightness(100%);
  text-align: center;
}
.container p {
  color: #fff;
  font-style: italic;
  font-family: var(--font2);
  text-align: center;
  font-size: 1.2em;
  filter: brightness(100%);
}
/*HEADER*/

/*NAVBAR*/
.navbar {
  margin-top: 0 1em 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: top;
  font-size: 1em;
  font-family: var(--font2);
  color: #fff;
  background-color: #292929;
  width: 100%;
  height: 3em;
}
ol li {
  list-style: none;
  display: inline;
  margin: 0 3em;
  color: #fff;
  background-color: #292929;
}
ol li a {
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
  letter-spacing: 0.07em;
  padding-bottom: 1em;
}
ol li a:hover {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #fff;
}
/*NAVBAR*/

/*FOOTER*/
.footer {
  background-color: #292929;
  height: 20em;
  bottom: 0;
  position: relative;
  width: 100%;
  top: 75%;
  margin: 10em 0 0;
  padding-top: 0;
}
.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.8;
  margin-bottom: 0;
  font-family: var(--font1);
}
.footer li {
  padding: 0 2em;
  font-family: var(--font1);
}
.footer ul a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  padding-top: 0;
  font-family: var(--font1);
  transition: 0.4s;
}
.footer ul a:hover {
  opacity: 1;
  font-family: var(--font1);
  font-style: italic;
}
.footer .social {
  text-align: center;
  padding: 2em 0 1em;
}
.footer .social > a {
  font-size: 1.3em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 0.8em;
  color: #fff;
  opacity: 0.75;
}
.footer .social > a:hover {
  opacity: 0.9;
}
.footer .copyright {
  margin: 3em 0 0;
  text-align: center;
  font-size: 0.75em;
  color: #aaa;
  margin-bottom: 0;
  font-family: var(--font1);
}
/*FOOTER*/

/*ICON BAR*/
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
.icon-bar a:hover {
  background-color: #000;
}
.facebook {
  background: #3b5998;
  color: white;
}
.twitter {
  background: #55acee;
  color: white;
}
.google {
  background: #dd4b39;
  color: white;
}
.linkedin {
  background: #007bb5;
  color: white;
}
.youtube {
  background: #bb0000;
  color: white;
}
/*ICON BAR*/

/*RELATED ARTICLES SIDE MENU*/
aside {
  font-family: var(--font1);
  margin: 10em 3em 0 3em;
  float: left;
  width: 10em;
}
aside ul li {
  list-style: none;
  background: #fff;
  padding: 1em;
  font-size: 0.8em;
  border-left: 3px solid #cf2f64;
}
aside .related img {
  height: 4em;
  width: 4em;
  display: block;
  padding-top: 0.3em;
}
aside .related a {
  color: #292929;
}
aside h4 {
  padding: 1em;
}
/*RELATED ARTICLES SIDE MENU*/

/*"IN THIS ARTICLE" HEADLINE LIST*/
.headline-list {
  font-family: var(--font1);
  float: right;
  width: 10em;
  margin: 10em 3em 0 3em;
}
.headline-list h4 {
  padding: 1em;
}
.headline-list li a {
  color: #292929;
}
/*"IN THIS ARTICLE" HEADLINE LIST*/

/*CONTENT*/
.article-content {
  color: #3a3939;
  text-align: justify;
  padding: 3em 16em;
  font-family: "Noto Sans", sans-serif;
  line-height: 2em;
}
.heading {
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  padding: 0 0 1em;
}
.subheading {
  text-align: left;
  text-decoration: none;
  line-height: 50px;
}
.para {
  line-height: 2em;
}
figure img {
  display: block;
  text-align: center;
  margin: 1em auto;
  border-radius: 0.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
figure figcaption {
  text-align: center;
  font-size: 0.8em;
  color: #746f6f;
  font-family: Calibri;
}
.para ul li a {
  color: #292929;
}
/*CONTENT*/

/*COMMENT SECTION*/
.comment-section {
  font-family: "Noto Sans", sans-serif;
  height: 2em;
}
.input[type="text"],
select,
textarea {
  width: 50%;
  padding: 0.8em 2em;
  border: 1px solid #ccc;
  margin: 1em auto 1em;
  resize: vertical;
  border-radius: 0.4em;
  display: block;
  text-align: center;
}
input[type="submit"] {
  background-color: #292929;
  color: #fff;
  padding: 1em 1em;
  border: none;
  cursor: pointer;
  border-radius: 0.2em;
  margin: 0 auto;
  font-family: var(--font1);
  transition: ease-out 0.4s;
  box-shadow: inset 0 0 0 0 #4b1b05;
  display: block;
  text-align: center;
}

input[type="submit"]:hover {
  box-shadow: inset 300px 0 0 0 #4b1b05;
  cursor: pointer;
}
form label {
  font-style: var(--font2);
  font-size: 1em;
  padding: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
}
/*COMMENT SECTION*/
