@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover; /*or background-size: 100%;  */
  flex-direction: column;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.brand {
  float: left;
  display: inline-flex;
  justify-content: left;
  color: #fff;
  margin-top: 10px 0 0 5px;
  padding: 10px 0 0 20px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.4s;
  font-family: "Noto Sans", sans-serif;
}
.brand:hover {
  letter-spacing: 0.1em;
  font-style: italic;
  font-size: 22px;
  color: #dcc8e4;
  font-family: "Noto Sans", sans-serif;
}
.navbar {
  margin-top: 10px 5px 0 0;
  padding: 20px 20px 0 0;
  display: inline-flex;
  justify-content: space-between;
  float: right;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
}
ol li {
  list-style: none;
  display: inline;
  margin: 0 30px;
}
ol li a {
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
  letter-spacing: 0.09em;
  padding-bottom: 3px;
}
ol li a:hover {
  text-transform: uppercase;
  color: #dbefcc;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #dbefcc;
}
h2 {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 10px;
  padding-top: 25px;
}
p {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.submit {
  width: 100px;
  height: 45px;
  box-shadow: inset 0 0 0 0 #4b1b05;
  font-family: "Noto Sans", sans-serif;
  border-radius: 1px;
  transition: ease-out 0.3s;
  outline: none;
}
.submit:hover {
  box-shadow: inset 100px 0 0 0 #4b1b05;
  cursor: pointer;
}
.cancel {
  width: 100px;
  height: 45px;
  box-shadow: inset 0 0 0 0 #4b1b05;
  font-family: "Noto Sans", sans-serif;
  border-radius: 1px;
  transition: ease-out 0.3s;
  outline: none;
}
.cancel:hover {
  box-shadow: inset 100px 0 0 0 #4b1b05;
  cursor: pointer;
}
.container {
  width: 300px;
  height: 400px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 0 0;
  font-family: "Noto Sans", sans-serif;
  opacity: 0.875;
  border-radius: 4px;
}
.intro-text p {
  margin: 5px 0;
  font-size: 13px;
}
.intro-text p a {
  color: #121212;
}
form {
  height: 350px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
form input {
  padding: 12px 7px;
  outline: none;
  border: 1px solid #8c8f94;
  font-family: "Noto Sans", sans-serif;
}
form input:focus {
  border-color: #16056b;
}
.check-box {
  display: flex;
}
.check-box label {
  font-size: 10px;
  padding: 0 5px;
}
.signup,
.forgot {
  font-size: 12px;
  font-style: normal;
  color: #153840;
}
.signup:hover,
.forgot:hover {
  font-style: italic;
  color: #55817e;
}
form button {
  border: none;
  outline: none;
  padding: 10px 0;
  background: #000;
  color: #fff;
  font-size: 18px;
  /*box-shadow: 0 7px 15px rbga(22, 5, 107, 0.3); */
  box-shadow: inset 0 0 0 0 rgb(255, 0, 68);
  font-family: "Noto Sans", sans-serif;
  border-radius: 1px;
  transition: ease-out 0.3s;
  outline: none;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 45px 0 0 0;
  padding-top: 0;
  padding-bottom: 0;
}
.footer {
  background-color: #000;
  height: 325px;
  bottom: 0;
  position: absolute;
  width: 100%;
  top: 75%;
  margin-top: 200px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.footer ul {
  padding: 0px;
  list-style: none;
  text-align: center;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 0;
  font-family: "Noto Sans", sans-serif;
}

.footer li {
  padding: 0 10px;
  font-family: "Noto Sans", sans-serif;
}

.footer ul a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  padding-top: 0px;
  font-family: "Noto Sans", sans-serif;
  transition: 0.4s;
}

.footer ul a:hover {
  opacity: 1;
  font-family: "Noto Sans", sans-serif;
  font-style: italic;
}

.footer .social {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 35px;
}

.footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: white;
  opacity: 0.75;
}

.footer .social > a:hover {
  opacity: 0.9;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
  font-family: "Noto Sans", sans-serif;
}
